<div class="container-flui">
    <div id="rider" class="center-block" style="text-align: center;">
      <h1>仮面ライダードライブ図鑑</h1>
      <div class="center-block">
      <%= link_to @drive,"/show",{:class => "btn btn-warning btn-lg ", :id => "btn"} %>
      <%= link_to @ghost,"/index",{:class => "btn btn-warning btn-lg ", :id => "btn"} %>
    </div>
      <h1><%= @rider.name %></h1>
      <%= image_tag 'drive.png', :class => 'img' %>
</div>
